* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, serif;
}

body {
    background-color: #2a8f7a;
    color: white;
    text-align: center;
}

/* HEADER */
.header {
    padding: 20px;
    position: relative;
}

.logo img {
    width: 120px;
    position: absolute;
    left: 20px;
    top: 20px;
}

.nav {
    position: absolute;
    left: 170px;
    top: 30px;
    text-align: left;
}

.nav p {
    font-weight: bold;
    margin-bottom: 5px;
}

.nav a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.header h1 {
    font-size: 48px;
    margin-top: 30px;
}

/* CONTENIDO */
.contenido {
    margin-top: 50px;
    padding: 0 15%;
}

.contenido h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.contenido h3 {
    font-size: 18px;
    margin-bottom: 25px;
}

.contenido p {
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 40px;
}

.imagen img {
    width: 60%;
    border: 2px solid white;
}

/* FOOTER */
.footer {
    margin-top: 60px;
    padding: 40px;
    position: relative;
}

.footer h4 {
    margin-bottom: 10px;
}

.enlaces, .contacto {
    text-align: left;
    font-size: 14px;
}

.enlaces {
    position: absolute;
    left: 50px;
}

.enlaces a {
    display: block;
    color: white;
    text-decoration: none;
}

.contacto {
    position: absolute;
    left: 300px;
}

.boton {
    position: absolute;
    right: 50px;
    bottom: 20px;
    background-color: #e6f4ef;
    color: #2a8f7a;
    padding: 30px 50px;
    border-radius: 50px;
    text-decoration: none;
    font-size: 20px;
}
@media (max-width: 768px) {
    .logo img, .nav, .enlaces, .contacto, .boton {
        position: static; /* Quita el amontonamiento */
        width: 100%;
        margin: 10px 0;
        text-align: center;
    }
    .header h1 { font-size: 30px; }
}